body {
  font-family: sans-serif;
  background-image: url('resources/lightgreybackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*General*/
.content {
  width: 1040px;
  margin-left: 20px;
  margin-right: 50px;
  float: right;
  padding-bottom: 50px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

.timeline {
  font-size: 20px;
}

/*Dashboard*/
table {
  width: 1010px;
  height: 600px;
}

/*Line Styling*/
h1 {
  text-align: center;
  font-size: 56px;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
}

h1:before,
h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid;
  margin: auto;
  border-color: black;
}

h1:before {
  margin-right: 10px
}

h1:after {
  margin-left: 10px
}

/*Faq*/
h4,
summary {
  font-size: 20px;
  text-decoration: strong;
  margin-bottom: 35px;
  color: lightblue;
  
}
strong {
  color: black;
}

/*Profile*/
.personal {
  overflow: hidden;
  float: left;
}

/*General*/
.content {
  width: 1040px;
  margin-left: 20px;
  margin-right: 50px;
  float: right;
  padding-bottom: 50px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

/*Blog*/
.blogpost {
  margin-left: 400px;
  margin-top: 70px;
}

.blogi {
  padding-bottom: 20px;
  font-size: 25px;
}

/*link styling*/
.link {
  font-size: 20px;
}

a {
  color: lightblue;
}
li a:hover {
  background-color: grey;
  color: white;
}

li a:active {
  background-color: aqua;
  color: white;
}

/*image styling*/
.logo {
  width: 320px;
  height: 100px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.me {
  float: right;
  width: 450px;
  height: 380px;
  margin-right: 70px;
  margin-top: 15px;
  border: lightblue solid;
}

.newcomputer {
  width: 400px;
  height: 267px;
  border: lightblue solid;
}

.oldcomputer {
  width: 400px;
  height: 307 px;
  border: lightblue solid;
  margin-left: 100px;
  margin-right: 10px;
}

.computer {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*aside menu styling*/
.aside {
  overflow: hidden;
  float: left;
  margin-left: 10px;
}
.quicklinktitle {
  text-align: center;
  padding-bottom: 12px;
  padding-top: 15px;
  border-bottom: solid black;
}
.asideul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: white;
  opacity: 0.8;
}

.asidemenulinks a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  padding-bottom: 20px;
}

.asidemenulinks a:hover {
  background-color: grey;
  color: white;
}

.asidemenulinks a:active {
  background-color: aqua;
  color: white;
}

/*nav bar*/
nav {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  width: fill;
  background-color: #f1f1f1;
  text-align: center;

}

nav a {
  display: inline;
  color: #000;
  padding: 20px 70px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: grey;
  color: white;
}

nav a:active {
  background-color: aqua;
  color: white;
  text-align: right;
}
